.wrapper {
  position: relative;
  margin: 6.25rem auto;
  display: flex;
  justify-content: center;
}

.loader {
  width: 5rem;
  height: 5rem;

  border: 0.125rem solid #fff;
  border-top: 0.1875rem solid #33ace5;
  border-radius: 100%;

  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
